*,html{
    margin:0;
    padding:0;

}
body{
    background: #2fccef;
    background: url("../img/bck1366.jpg") top center #2fccef;
    font-family: 'Lato', sans-serif;
    color: white;
}

.wrapper{
    width: 80%;
    display: block;
    clear: both;
    margin: 3% auto 0 auto;
}
img {
    max-width: 100%;
    height: auto;
}
.logo{
    width: 24%;
    margin: 0 auto;
    display: block;
    clear: both;

}
.logo img{
    display: block;
    position: relative;
    margin-top: 38%;
}
.description{
    display: block;
    clear: both;
    width: 100%;
    margin: 1% 0;
    position: relative;
    margin-top: -10%;
}
.desc-left{
    width: 60%;
    display: inline-block;
    margin-right: 8%;
    float: left;
    text-align: justify;

}
.desc-right{
    width: 32%;
    display: inline-block;
    float: left;
    cursor: pointer;
    position: relative;
    transition:all 0.2s ease-in;
}
.desc-right:hover{

    top:4px;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
h2{
    font-weight: 300;
    font-size: 3.6em;
}
.paragraph{
    font-size: 1.4em;

}
.margin-intro{
    position:relative;
    margin-top: 6%;
    font-size: 1.9em;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.question-top{
    display: block;
    clear: both;
}
.topleft{
    display: inline-block;
    clear: both;
    width: 68%;
    float: left;
    margin:0 6%;
}
.topright{
    display: inline-block;
    clear: both;
    width: 15%;
    height: 0;
    padding-bottom: 16%;
    margin-left: 5%;
    float: right;
    margin-top: -12%;
}
.two{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position:fixed;
    top: 0;
    left: 0;
}
.centerabsolute{
    width: 74%;
    margin: 2% auto;
    padding: 0;
}
.full{
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
    position:fixed;
    bottom: 0;
    left: 0;
}
#question{
    font-size: 1.6em;
    margin-top: 2%;
    text-align: justify;
}
.big_circle{
    width: 90%;
    height:0;
    padding: 5%;
    padding-bottom: 90%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: white;
    color: #333;
    position: relative;
    margin-top: -108%;

}
#inner-circle{
    width: 75%;
    margin: 0 auto;
    margin-top: 12.5%;
    height:0;

    padding-bottom: 75%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: white;
    color: #333;
    border: 8px solid #b3db0b;
    display: block;
    clear: both;
}
.values{
    display: block;
    clear: both;
    color: #2fccef;
    text-align: center;
    width: 100%;
    margin-top: -273%;
    z-index: 4;
    position: relative;
}
#time{
    display: block;
    clear: both;
    font-size: 2.5em;
    font-weight: bold;
    position: relative;
    top:-8px;
}
.measure{
    display: block;
    clear: both;
    font-size: 1.3em;
    position: relative;
    top:-20px;
    font-weight: bold;
}
.base{
    display: block;
    clear: both;
    position: relative;
    top: 0;
    z-index: 1;
    max-width: 100%;
    height: auto;
}
.progress{
     display: block;
    clear: both;
    position: relative;
    top: -94%;
    z-index: 2;
    max-width: 100%;
    height: auto;
}
.downcenter{
    width: 58%;
}
.choice{
    display: inline-block;
    padding: 0 12%;
    margin-top: -12%;
    width: 26%;
}
.cleft{
    float: left;
}
.cright{
    float: right;
}
.top{
     display: block;
    clear: both;
    position: relative;
    top: -187.5%;
    z-index: 3;
    max-width: 100%;
    height: auto;
}
#trig-one,#trig-two{
    cursor:pointer;
    transition: 0.2s all ease-in;
    position: relative;
}
#trig-one:hover,#trig-two:hover{
    top: 4px;
    opacity:0.9;
}
.optiontext{
    color:#333;
    text-align: center;
    font-size: 2.4em;
}
#questions{
    display:block;
    display: none;
    opacity: 0;
}
.modal{
position: absolute;
width: 100%;
display: block;
display: none;
z-index: 10;
clear: both;
text-align: center;
margin-top: 5%;
}
#modalyeah{

line-height: 1em;
color: #90a621;
font-weight:bold;
font-size: 7em;
text-shadow:0px 0px 0 rgb(130,152,19),-1px -1px 0 rgb(127,149,16),-2px -2px 0 rgb(123,145,12),-3px -3px 0 rgb(119,141,8),-4px -4px 0 rgb(116,138,5),-5px -5px 0 rgb(112,134,1),-6px -6px 0 rgb(109,131,-2),-7px -7px 0 rgb(105,127,-6),-8px -8px 0 rgb(101,123,-10),-9px -9px 0 rgb(98,120,-13),-10px -10px 0 rgb(94,116,-17),-11px -11px 0 rgb(90,112,-21),-12px -12px 0 rgb(87,109,-24),-13px -13px 0 rgb(83,105,-28), -14px -14px 0 rgb(79,101,-32),-15px -15px 14px rgba(0,0,0,0.6),-15px -15px 1px rgba(0,0,0,0.5),0px 0px 14px rgba(0,0,0,.2);}
#modalwrong{

line-height: 1em;
color: #d2141a;
font-weight:bold;
font-size: 7em;
text-shadow:0px 0px 0 rgb(196,6,12),-1px -1px 0 rgb(193,3,9),-2px -2px 0 rgb(189,-1,5),-3px -3px 0 rgb(185,-5,1),-4px -4px 0 rgb(182,-8,-2),-5px -5px 0 rgb(178,-12,-6),-6px -6px 0 rgb(175,-15,-9),-7px -7px 0 rgb(171,-19,-13),-8px -8px 0 rgb(167,-23,-17),-9px -9px 0 rgb(164,-26,-20),-10px -10px 0 rgb(160,-30,-24),-11px -11px 0 rgb(156,-34,-28),-12px -12px 0 rgb(153,-37,-31),-13px -13px 0 rgb(149,-41,-35), -14px -14px 0 rgb(145,-45,-39),-15px -15px 14px rgba(0,0,0,0.6),-15px -15px 1px rgba(0,0,0,0.5),0px 0px 14px rgba(0,0,0,.2);
}
#badge-container,#scoredisplay{
    width: 100%;
    display: block;
    clear: both;
    display: none;
    opacity: 0;
    text-align: center;
}
#badge-container h3{
    font-size: 2.4em;
    color: white;
    font-weight: 300;
}
#badge-container img{
    width: 40%;
    height: auto;
    display: block;
    clear: both;
    margin: 2% auto;
}
#scoredisplay{
    color: #222;
    font-size: 5em;
}
#uscore{
    color:#ffa746;
}
#badge-container p{
    font-size: 1.8em;
    color: white;
}